<header class="masthead text-white text-center background-header">
    <div class="overlay">
    </div>
    <div class="container justify-content-center align-items-center align-content-center align-self-center"
        style="width: 1178px;">
        <div class="col-xl-12 mx-auto">
            <h1 class="text-dark mb-5">Chercher un sujet de discution</h1>
        </div>
        <div class="mx-auto">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100">
                <div class="search">
                    <input type="text" formControlName="content" class="form-control border-0 small" style="height: 95%;font-size: 15px;"
                        placeholder="&#61442; Entrer un mot-clé..." name="text" [(ngModel)]="searchText" />
                </div>
                <form (ngSubmit)="createDiscussion()">
                    <button class="btn btn-success" type="submit"> Ajouter une discussion </button>
                </form>
            </form>
        </div>
    </div>
</header>
<main>
    <hr/>
    <div class="container">
        <div *ngFor="let forum of forums$ | async">
            <div class="card">
                <h6 class="card-header">{{forum.creator.username}} - {{forum.creator.email}}</h6>
                <div class="card-body">
                    <h5 class="card-title">Sujet : {{forum.topic}}</h5>
                    <hr>
                    <button class="btn btn-primary" [routerLink]="['/discussion', forum.id]">En voir plus</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</main>