<div class="container-fluid">
    <h3 class="text-dark mb-1">Messagerie</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item"><span>List Group Item 1</span></li>
                    <li class="list-group-item"><span>List Group Item 2</span></li>
                    <li class="list-group-item"><span>List Group Item 3</span></li>
                </ul>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio,
                            dapibus ac
                            facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a
                            class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>