<div>
    <form>
        <div class="form-row">
            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <input type="content" [(ngModel)]="message.content" placeholder="content" name="content"
                    class="form-control" id="content">
            </div>
            <div class="col-lg-2 d-inline-flex d-xl-flex justify-content-xl-end align-items-xl-center">
                <button class="btn btn-primary" (click)="sendMessage()">Envoyer</button>
            </div>
        </div>
    </form>
</div>