<div class="register">
        <div class="form-container">
            <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
                <h2 class="text-center">Créer un chat privé</h2>
                <input formControlName="content" placeholder="Contenu du message" type="text" class="form-control" />
                <input formControlName="receiverId"  placeholder="Id du destinataire" type="text" class="form-control"/>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
